@media screen and (max-width:1200px){
    html{
        font-size: 62%;
    }
    /* .chat{
        display:none;
        width:100vw;
    } */
    .rm .rm-footer .wrap input{
       
        height:50%;
        /* padding:1rem 1.5rem;
        margin:0 2rem; */
        
    }
}

@media screen and (max-width:1100px){
    html{
        font-size: 58%;
    }
    .layout{
        width:100vw;
        
    }
    .rm{
        width:100vw;
    }
    .chat{
        position:absolute;
        width:30vw;
        height:89vh;
        right:0;
        z-index: 10;
    }
    .chat .wrapper{
        /* background-color: white; */
        height:85vh;
    }
    .rm{
        width:100vw;
    }
    .rm iframe{
        width:100vw;
    }
    .rm .rm-body,.rm .rm-footer{
        width:95vw;
    }
    
    .tray{
        bottom:2vh;
        width:50vw;
    }
}
@media screen and (max-width:800px){
    html{
        font-size: 56%;
    }
    .chat{
        width:70vw;
    }
    .tray{
        left:0;
        width:100vw;
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 55%;
    }
    .chat{
        width:100vw;
    }
    .chat .wrapper{
        /* background-color: white; */
        height:85vh;
    }
}